<html>
<head>
    <title>Gothons From Planet Percal #25</title>
    <style>
            html {
                overflow-y: hidden;
            }
            
            body {
                background: url('/spaceship.jpg');
                background-repeat: no-repeat;
                
                text-shadow: 1px 1px 2px black, 0 0 1em red;
                color: #E8E8E8;
                height: 100%;
            }
            
            h1 {
                text-shadow: 1px 1px 2px black, 0 0 1em red;
                color: #E8E8E8;
            }
           
            A:link {
                text-decoration: none;
                color: #FFFFCC;
                font-family: Verdana;
            }
            
            A:visited {
                text-decoration: none;
                color: #FFFFCC;
                font-family: Verdana;
            }
            
            A:hover {
                text-decoration: none;
                color: #DC381F;
                font-family: Verdana;
            }             
            
    </style> 
</head>
<body>

<%= yield %>

</body>
</html>
